<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <header class="px-3 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <span class="col-md-3 mb-md-0 mb-1 h2" href="#">LMS but bad</span>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2">Задачи</a></li>
          <li><a href="#" class="nav-link px-2">Рейтинг</a></li>
          <li><a href="#" class="nav-link px-2">Справка</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/FilinSep/lmsbutbad" class="nav-link px-2">GitHub</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-primary">Войти</button>
        </div>
      </header>
      {% block content %}
      {% endblock %}
</body>
</html>

<style>
</style>