<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyOpenTask Archive</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>
<body>
    <header class="px-3 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <span class="col-md-3 mb-md-0 mb-1 h2" href="#">PyOpenTask Archive</span>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2">Задачи</a></li>
          <li><a href="/rating" class="nav-link px-2">Рейтинг</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/FilinSep/lmsbutbad" class="nav-link px-2">GitHub</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          {% if not user.is_authenticated %}
            <button type="button" onclick="location.href = '/login';" class="btn btn-primary">Войти</button>
          {% else %}
            <a href="/logout" class="nav-link px-2">Выйти с {{ user.name }}</a>
          {% endif %}
        </div>
      </header>
      {% block content %}
      {% endblock %}
</body>
</html>

<style>
</style>